<div id="chatHistory"><h1>No hay mensajes para mostrar</h1></div>
  <form id="chatForm" class="confirmar-compra">
    <label for="mensaje">Chat:<input type="text" name="mensaje" id="direccion" name="direccion" required></label>
    <input type="submit" class="boton-carrito" value="Enviar mensaje">
  </form>
</div>
<script src="../socket.io/socket.io.js"></script>
<script src="../socket.js"></script> 

